/* Auth layout */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f4f2;
}

.auth-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  border: 1px solid #eee;
  text-align: center;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Switch text */
.auth-switch {
  margin-top: 15px;
  font-size: 14px;
}
